/* application.css */

/* ------------------- Common ------------------- */

#createBtn {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10;
    -fx-background-color: #d9d9d9;
}

#cancelBtn {
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-padding: 10;
    -fx-text-fill: #d9d9d9;
    -fx-background-color: #444444;
}

.top-bar {
    -fx-background-color: #333;
    -fx-padding: 8px;
    -fx-border-color: transparent transparent #4d4d4d transparent;
    -fx-border-width: 0 0 1px 0;
}

.side-menu {
    -fx-background-color: #333;
    -fx-padding: 10px;
    -fx-border-color: transparent #4d4d4d transparent transparent;
    -fx-border-width: 0 1px 0 0;
}

.text-field {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #131313;
    -fx-padding: 5px;
    -fx-border-color: #999;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-prompt-text-fill:#333;
}

/* ------------------- Layout ------------------- */

#sideMenu {
    -fx-padding: 0;
    -fx-spacing: 0;
}

#searchBtn {
    -fx-border-width: 0;
    -fx-border-color: #D9D9D9;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: #333;
}
#searchBtn:hover {
    -fx-background-color: #1e1e1e;
}

#settingsBtn {
    -fx-border-width: 0;
    -fx-border-color: #D9D9D9;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: #333;
}
#settingsBtn:hover {
    -fx-background-color: #1e1e1e;
}

#homeBtn {
    -fx-border-width: 0;
    -fx-border-color: #D9D9D9;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: #333;
}
#homeBtn:hover {
    -fx-background-color: #1e1e1e;
}

#nTagBtn {
    -fx-border-width: 0;
    -fx-border-color: #D9D9D9;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: #333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #d9d9d9;
}
#nTagBtn:hover {
    -fx-background-color: #1e1e1e;
}

#nSnippetBtn {
    -fx-border-width: 0;
    -fx-border-color: #D9D9D9;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: #333;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #d9d9d9;
}
#nSnippetBtn:hover {
    -fx-background-color: #1e1e1e;
}

#allBtn {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: #565656;
    -fx-padding: 15px;
    -fx-text-fill: #fff;
}
#allBtn:hover {
    -fx-background-color: #2d2d2d;
}

#favouritesBtn {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-style: none;
    -fx-border-radius: 0;
    -fx-background-insets: 0;
    -fx-effect: none;
    -fx-background-color: #3C3C3C;
    -fx-padding: 15px;
    -fx-text-fill: #fff;
}
#favouritesBtn:hover {
    -fx-background-color: #2d2d2d;
}

/* ------------------- Home Page ------------------- */

#contentArea {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-width: 0;
}

#contentArea .viewport {
    -fx-background-color: #252525;
    -fx-padding: 0;
    -fx-border-width: 0;
}

/* ------------------- New Tag Page ------------------- */

#colorPickerT {
    -fx-background-color: #d9d9d9;
    -fx-text-fill: #131313;
    -fx-border-color: #999;
    -fx-border-width: 1px;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-prompt-text-fill:#333;
    -fx-min-width: 230px;
}

/* ------------------- New Snippet Page ------------------- */

#codeFieldS {
    -fx-control-inner-background: #d9d9d9;
    -fx-text-fill: #131313;
    -fx-border-color: #999;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-prompt-text-fill:#333;
    -fx-min-width: 450px;
    -fx-min-height: 300px;
}

#tagSelectS {
    -fx-control-inner-background: #d9d9d9;
    -fx-text-fill: #131313;
    -fx-border-color: #999;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    /*-fx-prompt-text-fill:#333;*/
}